<header class="navbar navbar-dark bg-dark">
  <nav class="container-fluid" style="color: white">
    <a href="/" class="navbar-brand">Employee Review System</a>
    <div class="d-flex">
      <a class="navbar-brand" href="/employee/admin/assign-review"
        >Assign Reviews</a
      >
      <a class="navbar-brand" href="#">View Employees</a>
      <a class="navbar-brand" href="/employee/signout">Sign out</a>
    </div>
  </nav>
</header>
